<h1>Are you happy ?</h1>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
   <div class="btn-group" role="group">
      <button type="button" class="btn btn-info" onclick="sendVote('yes');">Yes</button>
   </div>
   <div class="btn-group" role="group">
      <button type="button" class="btn btn-info" onclick="sendVote('no');">No</button>
   </div>
   <div class="btn-group" role="group">
      <button type="button" class="btn btn-info" onclick="sendVote('idontknow');">I don't know</button>
   </div>
</div>
